<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPlayerLabel" jhiTranslate="halospainleagueApp.player.home.createOrEditLabel">Create or edit a Player</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!player.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="player.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="halospainleagueApp.player.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="player.name" required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="halospainleagueApp.player.surname" for="field_surname">Surname</label>
            <input type="text" class="form-control" name="surname" id="field_surname"
                [(ngModel)]="player.surname"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="halospainleagueApp.player.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                [(ngModel)]="player.phone"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="halospainleagueApp.player.description" for="field_description">Description</label>
            <textarea class="form-control" name="description" id="field_description"
                [(ngModel)]="player.description"  ></textarea>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="halospainleagueApp.player.profilePhoto" for="field_profilePhoto">Profile Photo</label>
            <div>
                <img [src]="'data:' + player.profilePhotoContentType + ';base64,' + player.profilePhoto" style="max-height: 100px;" *ngIf="player.profilePhoto" alt="player image"/>
                <div *ngIf="player.profilePhoto" class="form-text text-danger clearfix">
                    <span class="pull-left">{{player.profilePhotoContentType}}, {{byteSize(player.profilePhoto)}}</span>
                    <button type="button" (click)="clearInputImage('profilePhoto', 'profilePhotoContentType', 'fileImage')" class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="fileImage" (change)="setFileData($event, player, 'profilePhoto', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="profilePhoto" id="field_profilePhoto"
                [(ngModel)]="player.profilePhoto"  />
            <input type="hidden" class="form-control" name="profilePhotoContentType" id="field_profilePhotoContentType"
                [(ngModel)]="player.profilePhotoContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="halospainleagueApp.player.profileCover" for="field_profileCover">Profile Cover</label>
            <div>
                <img [src]="'data:' + player.profileCoverContentType + ';base64,' + player.profileCover" style="max-height: 100px;" *ngIf="player.profileCover" alt="player image"/>
                <div *ngIf="player.profileCover" class="form-text text-danger clearfix">
                    <span class="pull-left">{{player.profileCoverContentType}}, {{byteSize(player.profileCover)}}</span>
                    <button type="button" (click)="clearInputImage('profileCover', 'profileCoverContentType', 'fileImage')" class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="fileImage" (change)="setFileData($event, player, 'profileCover', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="profileCover" id="field_profileCover"
                [(ngModel)]="player.profileCover"  />
            <input type="hidden" class="form-control" name="profileCoverContentType" id="field_profileCoverContentType"
                [(ngModel)]="player.profileCoverContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="halospainleagueApp.player.instagram" for="field_instagram">Instagram</label>
            <input type="text" class="form-control" name="instagram" id="field_instagram"
                [(ngModel)]="player.instagram"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="halospainleagueApp.player.twitter" for="field_twitter">Twitter</label>
            <input type="text" class="form-control" name="twitter" id="field_twitter"
                [(ngModel)]="player.twitter"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="halospainleagueApp.player.youtube" for="field_youtube">Youtube</label>
            <input type="text" class="form-control" name="youtube" id="field_youtube"
                [(ngModel)]="player.youtube"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="halospainleagueApp.player.facebook" for="field_facebook">Facebook</label>
            <input type="text" class="form-control" name="facebook" id="field_facebook"
                [(ngModel)]="player.facebook"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="halospainleagueApp.player.score" for="field_score">Score</label>
            <input type="number" class="form-control" name="score" id="field_score"
                [(ngModel)]="player.score"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="halospainleagueApp.player.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="player.address"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="halospainleagueApp.player.timeZone" for="field_timeZone">Time Zone</label>
            <input type="text" class="form-control" name="timeZone" id="field_timeZone"
                [(ngModel)]="player.timeZone"  />
        </div>
        <div class="form-group">
            <label jhiTranslate="halospainleagueApp.player.country" for="field_country">Country</label>
            <select class="form-control" id="field_country" name="country" [(ngModel)]="player.country" >
                <option [ngValue]="null"></option>
                <option [ngValue]="countryOption.id === player.country?.id ? player.country : countryOption" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
