<div>
    <h2>
        <span jhiTranslate="halospainleagueApp.matchMode.home.title">Match Modes</span>
        <button class="btn btn-primary float-right jh-create-entity create-match-mode" [routerLink]="['/', { outlets: { popup: ['match-mode-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="halospainleagueApp.matchMode.home.createLabel">
            Create new Match Mode
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="matchModes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="halospainleagueApp.matchMode.reference">Reference</span></th>
            <th><span jhiTranslate="halospainleagueApp.matchMode.timeToWin">Time To Win</span></th>
            <th><span jhiTranslate="halospainleagueApp.matchMode.scoreToWin">Score To Win</span></th>
            <th><span jhiTranslate="halospainleagueApp.matchMode.gameMode">Game Mode</span></th>
            <th><span jhiTranslate="halospainleagueApp.matchMode.match">Match</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let matchMode of matchModes ;trackBy: trackId">
                <td><a [routerLink]="['../match-mode', matchMode.id ]">{{matchMode.id}}</a></td>
                <td>{{matchMode.reference}}</td>
                <td>{{matchMode.timeToWin}}</td>
                <td>{{matchMode.scoreToWin}}</td>
                <td jhiTranslate="{{'halospainleagueApp.GameMode.' + matchMode.gameMode}}">{{matchMode.gameMode}}</td>
                <td>
                    <div *ngIf="matchMode.matchId">
                        <a [routerLink]="['../match', matchMode.matchId  ]" >{{matchMode.matchReference}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../match-mode', matchMode.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'match-mode/'+ matchMode.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'match-mode/'+ matchMode.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
