<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDivisionLabel" jhiTranslate="halospainleagueApp.division.home.createOrEditLabel">Create or edit a Division</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!division.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="division.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="halospainleagueApp.division.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="division.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="halospainleagueApp.division.maxPlayers" for="field_maxPlayers">Max Players</label>
            <input type="number" class="form-control" name="maxPlayers" id="field_maxPlayers"
                [(ngModel)]="division.maxPlayers"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="halospainleagueApp.division.divisionType" for="field_divisionType">Division Type</label>
            <select class="form-control" name="divisionType" [(ngModel)]="division.divisionType" id="field_divisionType" >
                <option value="GOLD">{{'halospainleagueApp.DivisionType.GOLD' | translate}}</option>
                <option value="SILVER">{{'halospainleagueApp.DivisionType.SILVER' | translate}}</option>
                <option value="BRONCE">{{'halospainleagueApp.DivisionType.BRONCE' | translate}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
