<div>
    <h2>
        <span jhiTranslate="halospainleagueApp.division.home.title">Divisions</span>
        <button class="btn btn-primary float-right jh-create-entity create-division" [routerLink]="['/', { outlets: { popup: ['division-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="halospainleagueApp.division.home.createLabel">
            Create new Division
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="divisions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="halospainleagueApp.division.name">Name</span></th>
            <th><span jhiTranslate="halospainleagueApp.division.maxPlayers">Max Players</span></th>
            <th><span jhiTranslate="halospainleagueApp.division.divisionType">Division Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let division of divisions ;trackBy: trackId">
                <td><a [routerLink]="['../division', division.id ]">{{division.id}}</a></td>
                <td>{{division.name}}</td>
                <td>{{division.maxPlayers}}</td>
                <td jhiTranslate="{{'halospainleagueApp.DivisionType.' + division.divisionType}}">{{division.divisionType}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../division', division.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'division/'+ division.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'division/'+ division.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
