
<div *ngIf="division">
    <h2><span jhiTranslate="halospainleagueApp.division.detail.title">Division</span> {{division.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="halospainleagueApp.division.name">Name</span></dt>
        <dd>
            <span>{{division.name}}</span>
        </dd>
        <dt><span jhiTranslate="halospainleagueApp.division.maxPlayers">Max Players</span></dt>
        <dd>
            <span>{{division.maxPlayers}}</span>
        </dd>
        <dt><span jhiTranslate="halospainleagueApp.division.divisionType">Division Type</span></dt>
        <dd>
            <span jhiTranslate="{{'halospainleagueApp.DivisionType.' + division.divisionType}}">{{division.divisionType}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'division/'+ division.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
