<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMatchLabel" jhiTranslate="halospainleagueApp.match.home.createOrEditLabel">Create or edit a Match</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!match.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="match.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="halospainleagueApp.match.reference" for="field_reference">Reference</label>
            <input type="text" class="form-control" name="reference" id="field_reference"
                [(ngModel)]="match.reference"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="halospainleagueApp.match.duration" for="field_duration">Duration</label>
            <input type="number" class="form-control" name="duration" id="field_duration"
                [(ngModel)]="match.duration"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="halospainleagueApp.match.resultMatch" for="field_resultMatch">Result Match</label>
            <select class="form-control" id="field_resultMatch" name="resultMatch" [(ngModel)]="match.resultMatch">
                <option [ngValue]="null"></option>
                <option [ngValue]="resultMatchOption.id === match.resultMatch?.id ? match.resultMatch : resultMatchOption" *ngFor="let resultMatchOption of resultmatches; trackBy: trackResultMatchById">{{resultMatchOption.reference}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="halospainleagueApp.match.tournament" for="field_tournament">Tournament</label>
            <select class="form-control" id="field_tournament" name="tournament" [(ngModel)]="match.tournament" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tournamentOption.id === match.tournament?.id ? match.tournament : tournamentOption" *ngFor="let tournamentOption of tournaments; trackBy: trackTournamentById">{{tournamentOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="halospainleagueApp.match.map" for="field_map">Map</label>
            <select class="form-control" id="field_map" name="map" [(ngModel)]="match.map" >
                <option [ngValue]="null"></option>
                <option [ngValue]="mapOption.id === match.map?.id ? match.map : mapOption" *ngFor="let mapOption of maps; trackBy: trackMapById">{{mapOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
