
<div *ngIf="match">
    <h2><span jhiTranslate="halospainleagueApp.match.detail.title">Match</span> {{match.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="halospainleagueApp.match.reference">Reference</span></dt>
        <dd>
            <span>{{match.reference}}</span>
        </dd>
        <dt><span jhiTranslate="halospainleagueApp.match.duration">Duration</span></dt>
        <dd>
            <span>{{match.duration}}</span>
        </dd>
        <dt><span jhiTranslate="halospainleagueApp.match.resultMatch">Result Match</span></dt>
        <dd>
            <div *ngIf="match.resultMatchId">
                <a [routerLink]="['/result-match', match.resultMatchId]">{{match.resultMatchReference}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="halospainleagueApp.match.teamList">Team List</span></dt>
        <dd>
            <div *ngIf="match.teamListId">
                <a [routerLink]="['/team-list', match.teamListId]">{{match.teamListReference}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="halospainleagueApp.match.tournament">Tournament</span></dt>
        <dd>
            <div *ngIf="match.tournamentId">
                <a [routerLink]="['/tournament', match.tournamentId]">{{match.tournamentName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="halospainleagueApp.match.map">Map</span></dt>
        <dd>
            <div *ngIf="match.mapId">
                <a [routerLink]="['/map', match.mapId]">{{match.mapName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'match/'+ match.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
